/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.warp{
	margin: 0 auto;
	width: 1024px;
}

/* .header---------------------------------------------------------- */

.header{
    margin: 0 auto;
	width: 940px;
	height: 40px;
    /* background: gray; */
    margin-top: 30px;
	/* margin-bottom: 5px; */
}

.logo h1 a{
    background-image: url(../images/component.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    float: left;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

}

.logo{
    float: left;
}

.logo2 h2 a{
    background-image: url(../images/component33.png);
    width: 172px;
    height: 27px;
    background-repeat: no-repeat;
    float: left;
    text-indent: 101%;
    overflow: hidden;
    margin-top: 6.5px;
    margin-left: 8px;

}


.logo2{
    float: left;
}

.topmenu{
    margin-left: 555px;

}


.topmenu li{
    float: left;
    /* margin-left: 30px; */
    margin-left: 60px;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bold;
    line-height: 2;
}


.topmenu li a{
    font-size:16px;
    color: #3F5D45;
    text-decoration:none;
    font-family: Microsoft JhengHei;
}


.topmenu li a img{
    margin-top: 4px;
}


/* .show-------------------------------------------------- */


.show{
    position : relative;
    margin: 0 auto;
    width: 940px;
	height: 496px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-image: url(../images/lemonCake-1.jpg);
    background-position: center;
	background-repeat: no-repeat;

}




.inBlock{
    position : relative;
    left: 82.5px;
    top: 400px;



}
  
.inBlock-color1{
    background-color: #FFE180;
    width: 259px;
    height: 256px;
    float: left;
    
  
}


.inBlock-image1{
    position : relative;

    background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=700&q=60);
    background-position: 100px 100px 100px 100px;
    width: 259px;
    height: 256px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity:0.3;
    background-size: 259px 256px;
    background-repeat: no-repeat;
}
  
.inBlock-content1{
    position : relative;
    left: 120px;
    top: -175px;
    z-index: 9999;
    
    
}
  
  
  
.inBlock-content1 p{
    color: #3F5D45;
    -webkit-writing-mode:vertical-rl;
    writing-mode:tb-rl;
    writing-mode:vertical-rl;
    font-size:20px;
    font-family: Microsoft JhengHei;
    letter-spacing: 8px;
    font-weight:bold;

  }



  
.inBlock-color2{
    float: left;
    background-color: #3F5D45;
    width: 259px;
    height: 256px;
    border-color: #fff;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
}


.inBlock-image2{
    position : relative;

    background-image: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=700&q=60);
    background-position: 100px 100px 100px 100px;
    width: 259px;
    height: 256px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity:0.3;
    background-size: 259px 256px;
    background-repeat: no-repeat;
}
  
.inBlock-content2{
    position : relative;
    left: 120px;
    top: -175px;
    z-index: 9999;
    
    
}
  
  
  
.inBlock-content2 p{
    color: white;
    -webkit-writing-mode:vertical-rl;
    writing-mode:tb-rl;
    writing-mode:vertical-rl;
    font-size:20px;
    font-family: Microsoft JhengHei;
    letter-spacing: 8px;
  }




  
.inBlock-color3{
    float: left;
    background-color: #3F5D45;
    width: 259px;
    height: 256px;
    
  
}


.inBlock-image3{
    position : relative;

    background-image: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=700&q=60);
    background-position: 100px 100px 100px 100px;
    width: 259px;
    height: 256px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity:0.3;
    background-size: 259px 256px;
    background-repeat: no-repeat;
}
  
.inBlock-content3{
    position : relative;
    left: 120px;
    top: -175px;
    z-index: 9999;
    
    
}
  
  
  
.inBlock-content3 p{
    color: white;
    -webkit-writing-mode:vertical-rl;
    writing-mode:tb-rl;
    writing-mode:vertical-rl;
    font-size:20px;
    font-family: Microsoft JhengHei;
    letter-spacing: 8px;
}


/* .introduce------------------------------------------------- */

.introduce{
    margin: 0 auto;
    width: 1024px;
    height: 500px;
    margin-top: 250px; 
    /* border-color: gray;
    border-style: solid;
    border-width: 3px 3px 3px 3px; */
}



.inBlock-introduce1{
    position: relative;
    width: 1024px;
    height: 420px;
    background-color: #EAF0ED;


}



.introduce-picture1{
    float: left;
    margin: -20px 0px 0px 42px;
    background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 460px;
    height: 460px;
    



}

.introduce-title1{
    float: left;
    background-image: url(../images/component44.png);
    background-repeat: no-repeat;
    width: 89px;
    height: 308px;
    margin: -20px 0px 0px 40px;
    


}


.introduce-content1{
    
    float: left;
    width: 320px;
    height: 310px;
    padding-top: 65px;

}

.introduce-content1 p{
    
    float: right;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    line-height: 40px;
    color: #8DA291;
    white-space: normal;
    

}



.inBlock-introduce2{
    position: relative;
    width: 1024px;
    height: 420px;
    background-color: #EAF0ED;
    margin-top: 105px;

}



.introduce-picture2{
    float: left;
    margin: -20px 0px 0px 42px;
    background-image: url(https://images.unsplash.com/photo-1501432781167-c0ccfd492297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621c4e9986fba1c4514dfdc30e095bd2&auto=format&fit=crop&w=900&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 460px;
    height: 460px;
    



}

.introduce-title2{
    float: left;
    background-image: url(../images/component41.png);
    background-repeat: no-repeat;
    width: 89px;
    height: 308px;
    margin: -20px 0px 0px 40px;
    


}


.introduce-content2{
    
    float: left;
    width: 320px;
    height: 310px;
    padding-top: 65px;

}

.introduce-content2 p{
    
    float: right;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    line-height: 40px;
    color: #8DA291;
    white-space: normal;
    

}



.inBlock-introduce3{
    position: relative;
    width: 1024px;
    height: 320px;
    background-color: #fff;
    margin-top: 105px;

}



.introduce-title3{
    width: 90px;
    height: 329px;
    float: left;
    background-image: url(../images/component42.png);
    background-repeat: no-repeat;
    margin: 0px 0px 0px 465px;
}


/* .productList----------------------------------------- */

.productList{
    margin: 0 auto;
    width: 1024px;
    height: 500px;
    margin-top: 100px; 
}

.productList ul {
    width: 1024px;
    padding: 0 0 0 29px;
}



.productList li {
    position: relative;
    float: left;
    width: 300px;
    height: 436px;
    border: 1px solid #EAF0ED;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}



.saleDiv{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 108px 40px 0 0;
	border-color: #3F5D45 #3F5D45 #3F5D45 #3F5D45;
	opacity: 0.9;
	position: relative;
	top: 0px;
	left: 20px;



}

.sale{
	height: 90px;
	width: 60px;
	position: relative;
	top: -103px;
	left: -20px;
	color: white;
	padding: 8px;
    writing-mode: vertical-rl;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    letter-spacing: 4px;
}



.productList img{
    width: 300px;
    height: 315px;
    margin-top: -214px;

}




.saleProductName{
    float: left;
    width: 170px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border: 1px solid #EAF0ED;
    margin: -5px 0 0 0;
    font-size: 20px;
    color: #3F5D45;
    font-family: Microsoft JhengHei;
}

.saleProductPrice{
    float: left;
    width: 126px;
    height: 55px;
    text-align:center;
    line-height:55px;
    border: 1px solid #EAF0ED;
    margin:-5px 0 0 0;
}


.saleAddCart{
    float: left;
    width: 300px;
    height: 67px;
    text-align:center;
    line-height:67px;
    background-color: #EAF0ED;
}



.saleProductName{
    float: left;
    width: 170px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border: 1px solid #EAF0ED;
    margin: -5px 0 0 0;
    font-size: 20px;
    color: #3F5D45;
    font-family: Microsoft JhengHei;
}

.saleProductPrice{
    float: left;
    width: 126px;
    height: 55px;
    text-align:center;
    line-height:55px;
    border: 1px solid #EAF0ED;
    margin:-5px 0 0 0;
    font-size: 20px;
    color: #3F5D45;
    font-family: Microsoft JhengHei;
    font-weight:bold;
}




.saleAddCart{
    float: left;
    width: 300px;
    height: 67px;
    text-align:center;
    line-height:67px;
    background-color: #EAF0ED;
    font-size: 24px;
    color: #3F5D45;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    cursor: pointer;
}


/* .mailBar------------------------------------------------ */

.mailBar{
    margin: 0 auto;
	width: 1024px;
	height: 116px;
    background: #3F5D45;
    /* margin-top: 30px; */
	/* margin-bottom: 5px; */
}


.logoImage{
    width: 40px;
    height: 40px;
    margin-left: 122px;
    margin-top: 38px;


    float: left;
}


.subMail{
    color: white;
    padding: 45px 0 0 20px;
    font-family: Microsoft JhengHei;
    font-size: 24px;

    float: left;
}



.inputMail{
    width: 380px;
    height: 56px;
    margin: 30px 0 0 124px;
    float: left;
    
    
}

.mailIcon{
    width: 62px;
    height: 54px;
    border: #fff 1px solid; 
    float: left;
    background-color: white;
}

.mailimg{

    display:block;       
    margin:15px auto;



}


.mailAddress{
    
    width: 248px;
    height: 52px;
    border: #fff 1px solid; 
    font-size: 18px;
    float: left;
}


.mailButton{
    width: 66px;
    height: 56px;
    padding: 0 0 0 0;
    border: #FFE180 1px solid;
    float: left;
    background-color: #FFE180;
    font-size: 24px;
    color: #3F5D45;
    font-family: fantasy;
    font-weight: 1000;
    text-align:center;
    line-height:40px;

}


/* .footer------------------------------------------------ */

.footer{
    width: 1024px;
    height: 341px;
    background-color: #EAF0ED;
    margin: 0 auto;
    

}


.footerLeft{
    width: 227px;
    height: 282px;
    margin: 39px 0 0 122px;
    
    float: left;

}


.footerLogo{
    width: 172px;
    height: 27px;

}


.footerContent{
    margin-top: 115px;


}


.footerContent li{
    line-height: 24px;
    color: #3F5D45; 
    font-family: Microsoft JhengHei;
    font-size: 16px;
    font-weight: bold;
}






.footerIcon{
    margin-top: 30px;
}

.footerIcon a{
    margin-right: 8px;

}








.footerRight{
    width: 258px;
    height: 282px;
    margin: 39px 0 0 295px;
    float: left;

}




.footerRight img{

    float: right;
    


}


.footerRight p{
    margin-top: 45px;
    float: right;
    color: #3F5D45;
    font-family: Times, Regular;
    font-size: 16px;

}





















.clearfix{
    clear: both;
    
}